.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  max-width: 1440px;
  justify-content: center;
  margin: 24px auto;
  padding: 0;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.80);
}

.simple-lightbox button.sl-close,
.sl-wrapper.simple-lightbox .sl-counter,
.simple-lightbox .sl-navigation button.sl-prev,
.simple-lightbox .sl-navigation button.sl-next{
  color: #FFFFFF;
}